@charset "UTF-8";
.AISearch_dropdown {
  padding: 16px 26px 26px 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media screen and (max-width: 768px) {
  .AISearch_dropdown {
    display: none;
  }
}
.AISearch_dropdown .AISearch_dropdown_title {
  color: #222222;
  font-weight: bold;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.AISearch_dropdown .AISearch_dropdown_title span.icon_AI {
  width: 27px;
  height: 27px;
  display: block;
  background: url(../img/icon_ai.svg) no-repeat center center;
  margin-right: 9px;
  background-size: 27px;
}
.AISearch_dropdown .AISearch_dropdown_upload {
  border-radius: 4px;
  background: #eff0ef;
  border: 2px dashed #dedede;
  padding: 58px 12px;
  font-size: 14px;
  font-weight: 500;
  color: #555555;
  position: relative;
}
.AISearch_dropdown .AISearch_dropdown_upload .uploadTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.AISearch_dropdown .AISearch_dropdown_upload .uploadTxt::before {
  content: "";
  width: 135px;
  height: 85px;
  display: block;
  background: url(../img/upload.svg) no-repeat 0 center;
  background-size: contain;
}
@media screen and (max-width: 560px) {
  .AISearch_dropdown .AISearch_dropdown_upload .uploadTxt::before {
    width: 100px;
  }
}
.AISearch_dropdown .AISearch_dropdown_upload .uploadTxt ul {
  list-style: disc;
  padding-left: 30px;
}
.AISearch_dropdown .AISearch_dropdown_upload .uploadTxt ul li {
  margin-top: 4px;
  margin-bottom: 4px;
}
.AISearch_dropdown .AISearch_dropdown_upload .uploadTxt ul li .hidden-input {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap; /* 避免換行佔位 */
  border: 0;
}
.AISearch_dropdown .AISearch_dropdown_upload .uploadTxt ul li label {
  margin-right: 1px;
  color: #7f630b;
  text-decoration: underline;
}
.AISearch_dropdown .AISearch_dropdown_upload .uploadTxt ul li kbd {
  background: #fff;
  border: 1px solid #919192;
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: bold;
}
.AISearch_dropdown .AISearch_dropdown_upload .alertTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  color: #ff0000;
  position: absolute;
  width: calc(100% - 24px);
  bottom: 18px;
}
.AISearch_dropdown .AISearch_dropdown_upload .alertTxt span.icon_warning {
  width: 24px;
  height: 24px;
  display: block;
  background: url(../img/icon_warning.svg) no-repeat center center;
}
.AISearch_dropdown .AISearch_dropdown_uploading {
  border-radius: 4px;
  background: #eff0ef;
  border: 2px dashed #dedede;
  padding: 22px;
  font-size: 14px;
  font-weight: 500;
  color: #555555;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
}
.AISearch_dropdown .AISearch_dropdown_uploading .uploadPic {
  width: 140px;
  height: 140px;
  background: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.AISearch_dropdown .AISearch_dropdown_uploading .uploadPic img {
  -o-object-fit: contain;
     object-fit: contain;
}
.AISearch_dropdown .AISearch_dropdown_uploading .uploadStatus {
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.AISearch_dropdown .AISearch_dropdown_uploading .uploadStatus .progressBar {
  width: 100%;
  height: 6px;
  background: #fff;
  border-radius: 6px;
  overflow: hidden;
}
.AISearch_dropdown .AISearch_dropdown_uploading .uploadStatus .progressBar span {
  display: block;
  height: 6px;
  border-radius: 6px;
  background: #fdb90e;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
  width: 0;
}
.AISearch_dropdown .AISearch_dropdown_uploading .uploadStatus .statusTxt .uploadCancel {
  text-decoration: underline;
  color: #7f630b;
  margin-left: 8px;
}
.AISearch_dropdown .AISearch_dropdown_uploading .uploadStatus .statusTxt .uploadCancel:hover {
  color: #555;
  text-decoration: none;
}
.AISearch_dropdown .AISearch_dropdown_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.AISearch_dropdown .AISearch_dropdown_input input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-radius: 4px;
  border: 1px solid #575f66;
  background-color: #fff;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px;
  min-width: 0;
  display: inline-block;
  border: 1px solid #d4d4d4;
}
.AISearch_dropdown .AISearch_dropdown_input .AISaerchBtn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78px;
          flex: 0 0 78px;
  border: 0;
  font-size: 16px;
  color: #000;
  background: #d4d4d4;
  border-radius: 4px;
}
.AISearch_dropdown.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .AISearch_dropdown.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 13px 36px 36px 36px;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_uploading {
    background: #fff;
    border: 0;
    padding: 0;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_uploading .uploadPic {
    width: auto;
    height: auto;
    max-width: 340px;
    aspect-ratio: 1/1;
    background: #eff0ef;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_uploading .uploadStatus .progressBar {
    background: #dedede;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_uploading .alertTxt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ff0000;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_uploading .alertTxt span.icon_warning {
    width: 24px;
    height: 24px;
    display: block;
    background: url(../img/icon_warning.svg) no-repeat center center;
    margin-right: 8px;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_uploading .alertTxt a.redo {
    color: #ff0000;
    text-decoration: underline;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .AISearch_dropdown.mobile .AISearch_dropdown_input .AISaerchBtn {
    background: #f3f3f3;
    font-size: 18px;
    width: 152px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 152px;
            flex: 0 0 152px;
    line-height: 48px;
  }
}/*# sourceMappingURL=AISearch_dropdown.css.map */