.AISearch_dropdown {
  padding: 16px 26px 26px 26px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (max-width: 768px) {
    display: none;
  }
  .AISearch_dropdown_title {
    color: #222222;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    span.icon_AI {
      width: 27px;
      height: 27px;
      display: block;
      background: url(../img/icon_ai.svg) no-repeat center center;
      margin-right: 9px;
      background-size: 27px;
    }
  }
  .AISearch_dropdown_upload {
    border-radius: 4px;
    background: #eff0ef;
    border: 2px dashed #dedede;
    padding: 58px 12px;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    position: relative;
    .uploadTxt {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      &::before {
        content: "";
        width: 135px;
        height: 85px;
        display: block;
        background: url(../img/upload.svg) no-repeat 0 center;
        background-size: contain;
        @media screen and (max-width: 560px) {
          width: 100px;
        }
      }
      ul {
        list-style: disc;
        padding-left: 30px;
        li {
          margin-top: 4px;
          margin-bottom: 4px;
          .hidden-input {
            position: absolute !important;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0 0 0 0);
            white-space: nowrap; /* 避免換行佔位 */
            border: 0;
          }
          label {
            margin-right: 1px;
            color: #7f630b;
            text-decoration: underline;
            cursor: pointer;
            &:hover {
              text-decoration: none;
            }
          }
          kbd {
            background: #fff;
            border: 1px solid #919192;
            padding: 2px 4px;
            margin: 0 2px;
            border-radius: 2px;
            font-weight: bold;
          }
        }
      }
    }
    .alertTxt {
      display: flex;
      justify-content: center;
      gap: 8px;
      color: #ff0000;
      position: absolute;
      width: calc(100% - 24px);
      bottom: 18px;
      span.icon_warning {
        width: 24px;
        height: 24px;
        display: block;
        background: url(../img/icon_warning.svg) no-repeat center center;
      }
    }
  }
  .AISearch_dropdown_uploading {
    border-radius: 4px;
    background: #eff0ef;
    border: 2px dashed #dedede;
    padding: 22px;
    font-size: 14px;
    font-weight: 500;
    color: #555555;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    .uploadPic {
      width: 140px;
      height: 140px;
      background: #fff;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .uploadStatus {
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .progressBar {
        width: 100%;
        height: 6px;
        background: #fff;
        border-radius: 6px;
        overflow: hidden;
        span {
          display: block;
          height: 6px;
          border-radius: 6px;
          background: #fdb90e;
          transition: width 0.4s ease;
          width: 0;
        }
      }
      .statusTxt {
        .uploadCancel {
          text-decoration: underline;
          color: #7f630b;
          margin-left: 8px;
          &:hover {
            color: #555;
            text-decoration: none;
          }
        }
      }
    }
  }
  .AISearch_dropdown_input {
    display: flex;
    gap: 10px;
    input {
      flex: 1 1 auto;
      border-radius: 4px;
      border: 1px solid #575f66;
      background-color: #fff;
      font-size: 16px;
      box-sizing: border-box;
      padding: 8px;
      min-width: 0;
      display: inline-block;
      border: 1px solid #d4d4d4;
    }
    .AISaerchBtn {
      flex: 0 0 78px;
      border: 0;
      font-size: 16px;
      color: #000;
      background: #d4d4d4;
      border-radius: 4px;
      &:hover,
      &:active {
        background: #fabe0f;
      }
    }
  }
  &.mobile {
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
      padding: 13px 36px 36px 36px;
      .AISearch_dropdown_uploading {
        background: #fff;
        border: 0;
        padding: 0;
        .uploadPic {
          width: auto;
          height: auto;
          max-width: 340px;
          aspect-ratio: 1/1;
          background: #eff0ef;
        }
        .uploadStatus {
          .statusTxt {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            &.warning {
              color: #ff0000;
              span.icon_warning {
                width: 24px;
                height: 24px;
                display: block;
                background: url(../img/icon_warning.svg) no-repeat center center;
                margin-right: 8px;
              }
            }
          }
          .progressBar {
            background: #dedede;
          }
        }
      }
      .AISearch_dropdown_input {
        justify-content: center;
        .AISaerchBtn {
          background: #f3f3f3;
          font-size: 18px;
          width: 152px;
          flex: 0 0 152px;
          line-height: 48px;
          &:hover,
          &:active {
            background: #fabe0f;
          }
        }
      }
    }
  }
}
